.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; /* Smooth transition for the shadow */
}

.nav:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.logo img {
  height: 60px;
  cursor: pointer;
  padding-left: 150px;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding-right: 100px;
  padding-top: 10px;
}

.menu-item a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  padding: 10px 25px;
}